<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HR TAMUK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>506177C21C4F0D4D00B0F525</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506177D61C4F0D4D00B0F525</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506177E11C4F0D4D00B0F525</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
